(
    name: "afterglow",
    foreground: "#d6d6d6",
    cursor: "#d6d6d6",
    bright_foreground: "#f7f7f7",
    dim_foreground: "#050505",
    normal: (
        black: "#1c1c1c",
        red: "#bc5653",
        green: "#909d63",
        yellow: "#ebc17a",
        blue: "#7eaac7",
        magenta: "#aa6292",
        cyan: "#86d3ce",
        white: "#cacaca",
    ),
    bright: (
        black: "#636363",
        red: "#bc5653",
        green: "#909d63",
        yellow: "#ebc17a",
        blue: "#7eaac7",
        magenta: "#aa6292",
        cyan: "#86d3ce",
        white: "#f7f7f7",
    ),
    dim: (
        black: "#050505",
        red: "#251110",
        green: "#1C1F13",
        yellow: "#2F2618",
        blue: "#192227",
        magenta: "#22131D",
        cyan: "#1A2A29",
        white: "#282828",
    ),
)