(
    name: "alacritty_0_12",
    foreground: "#c5c8c6",
    cursor: "#c5c8c6",
    bright_foreground: "#eaeaea",
    dim_foreground: "#050606",
    normal: (
        black: "#1d1f21",
        red: "#cc6666",
        green: "#b5bd68",
        yellow: "#f0c674",
        blue: "#81a2be",
        magenta: "#b294bb",
        cyan: "#8abeb7",
        white: "#c5c8c6",
    ),
    bright: (
        black: "#666666",
        red: "#d54e53",
        green: "#b9ca4a",
        yellow: "#e7c547",
        blue: "#7aa6da",
        magenta: "#c397d8",
        cyan: "#70c0b1",
        white: "#eaeaea",
    ),
    dim: (
        black: "#050606",
        red: "#281414",
        green: "#242514",
        yellow: "#302717",
        blue: "#192026",
        magenta: "#231D25",
        cyan: "#1B2624",
        white: "#272827",
    ),
)