(
    name: "argonaut",
    foreground: "#EBEBEB",
    cursor: "#EBEBEB",
    bright_foreground: "#FEFEF8",
    dim_foreground: "#020202",
    normal: (
        black: "#0d0d0d",
        red: "#FF301B",
        green: "#A0E521",
        yellow: "#FFC620",
        blue: "#1BA6FA",
        magenta: "#8763B8",
        cyan: "#21DEEF",
        white: "#EBEBEB",
    ),
    bright: (
        black: "#6D7070",
        red: "#FF4352",
        green: "#B8E466",
        yellow: "#FFD750",
        blue: "#1BA6FA",
        magenta: "#A578EA",
        cyan: "#73FBF1",
        white: "#FEFEF8",
    ),
    dim: (
        black: "#020202",
        red: "#330905",
        green: "#202D06",
        yellow: "#332706",
        blue: "#052132",
        magenta: "#1B1324",
        cyan: "#062C2F",
        white: "#2F2F2F",
    ),
)