(
    name: "ashes_dark",
    foreground: "#c7ccd1",
    cursor: "#c7ccd1",
    bright_foreground: "#f3f4f5",
    dim_foreground: "#050607",
    normal: (
        black: "#1c2023",
        red: "#c7ae95",
        green: "#95c7ae",
        yellow: "#aec795",
        blue: "#ae95c7",
        magenta: "#c795ae",
        cyan: "#95aec7",
        white: "#c7ccd1",
    ),
    bright: (
        black: "#747c84",
        red: "#c7ae95",
        green: "#95c7ae",
        yellow: "#aec795",
        blue: "#ae95c7",
        magenta: "#c795ae",
        cyan: "#95aec7",
        white: "#f3f4f5",
    ),
    dim: (
        black: "#050607",
        red: "#27221D",
        green: "#1D2722",
        yellow: "#22271D",
        blue: "#221D27",
        magenta: "#271D22",
        cyan: "#1D2227",
        white: "#272829",
    ),
)