(
    name: "aura",
    foreground: "#edecee",
    cursor: "#edecee",
    bright_foreground: "#edecee",
    dim_foreground: "#030304",
    normal: (
        black: "#110f18",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#a277ff",
        cyan: "#61ffca",
        white: "#edecee",
    ),
    bright: (
        black: "#4d4d4d",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#a277ff",
        cyan: "#61ffca",
        white: "#edecee",
    ),
    dim: (
        black: "#030304",
        red: "#331414",
        green: "#133328",
        yellow: "#33281A",
        blue: "#201733",
        magenta: "#201733",
        cyan: "#133328",
        white: "#2F2F2F",
    ),
)