(
    name: "Ayu Mirage",
    foreground: "#cbccc6",
    cursor: "#cbccc6",
    bright_foreground: "#ffffff",
    dim_foreground: "#06070A",
    normal: (
        black: "#212733",
        red: "#f08778",
        green: "#53bf97",
        yellow: "#fdcc60",
        blue: "#60b8d6",
        magenta: "#ec7171",
        cyan: "#98e6ca",
        white: "#fafafa",
    ),
    bright: (
        black: "#686868",
        red: "#f58c7d",
        green: "#58c49c",
        yellow: "#ffd165",
        blue: "#65bddb",
        magenta: "#f17676",
        cyan: "#9debcf",
        white: "#ffffff",
    ),
    dim: (
        black: "#06070A",
        red: "#301B18",
        green: "#10261E",
        yellow: "#322813",
        blue: "#13242A",
        magenta: "#2F1616",
        cyan: "#1E2E28",
        white: "#323232",
    ),
)