(
    name: "Baitong",
    foreground: "#33ff33",
    cursor: "#33ff33",
    bright_foreground: "#dbdbd9",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#f77272",
        green: "#33ff33",
        yellow: "#1AE642",
        blue: "#68FDFE",
        magenta: "#ff66ff",
        cyan: "#87CEFA",
        white: "#dbdbd9",
    ),
    bright: (
        black: "#ffffff",
        red: "#f77272",
        green: "#33ff33",
        yellow: "#1AE642",
        blue: "#68FDFE",
        magenta: "#ff66ff",
        cyan: "#68FDFE",
        white: "#dbdbd9",
    ),
    dim: (
        black: "#000000",
        red: "#311616",
        green: "#0A330A",
        yellow: "#052E0D",
        blue: "#143232",
        magenta: "#331433",
        cyan: "#1B2932",
        white: "#2B2B2B",
    ),
)