(
    name: "Base16 Default Dark",
    foreground: "#d8d8d8",
    cursor: "#d8d8d8",
    bright_foreground: "#f8f8f8",
    dim_foreground: "#040404",
    normal: (
        black: "#181818",
        red: "#ab4642",
        green: "#a1b56c",
        yellow: "#f7ca88",
        blue: "#7cafc2",
        magenta: "#ba8baf",
        cyan: "#86c1b9",
        white: "#d8d8d8",
    ),
    bright: (
        black: "#585858",
        red: "#ab4642",
        green: "#a1b56c",
        yellow: "#f7ca88",
        blue: "#7cafc2",
        magenta: "#ba8baf",
        cyan: "#86c1b9",
        white: "#f8f8f8",
    ),
    dim: (
        black: "#040404",
        red: "#220E0D",
        green: "#202415",
        yellow: "#31281B",
        blue: "#182326",
        magenta: "#251B23",
        cyan: "#1A2625",
        white: "#2B2B2B",
    ),
)