(
    name: "campbell",
    foreground: "#cccccc",
    cursor: "#cccccc",
    bright_foreground: "#f2f2f2",
    dim_foreground: "#020202",
    normal: (
        black: "#0c0c0c",
        red: "#c50f1f",
        green: "#13a10e",
        yellow: "#c19c00",
        blue: "#0037da",
        magenta: "#881798",
        cyan: "#3a96dd",
        white: "#cccccc",
    ),
    bright: (
        black: "#767676",
        red: "#e74856",
        green: "#16c60c",
        yellow: "#f9f1a5",
        blue: "#3b78ff",
        magenta: "#b4009e",
        cyan: "#61d6d6",
        white: "#f2f2f2",
    ),
    dim: (
        black: "#020202",
        red: "#270306",
        green: "#032002",
        yellow: "#261F00",
        blue: "#000B2B",
        magenta: "#1B041E",
        cyan: "#0B1E2C",
        white: "#282828",
    ),
)