(
    name: "carbonfox",
    foreground: "#f2f4f8",
    cursor: "#f2f4f8",
    bright_foreground: "#e4e4e5",
    dim_foreground: "#080808",
    normal: (
        black: "#282828",
        red: "#ee5396",
        green: "#25be6a",
        yellow: "#08bdba",
        blue: "#78a9ff",
        magenta: "#be95ff",
        cyan: "#33b1ff",
        white: "#dfdfe0",
    ),
    bright: (
        black: "#484848",
        red: "#f16da6",
        green: "#46c880",
        yellow: "#2dc7c4",
        blue: "#8cb6ff",
        magenta: "#c8a5ff",
        cyan: "#52bdff",
        white: "#e4e4e5",
    ),
    dim: (
        black: "#080808",
        red: "#2F101E",
        green: "#072615",
        yellow: "#012525",
        blue: "#182133",
        magenta: "#261D33",
        cyan: "#0A2333",
        white: "#2C2C2C",
    ),
)