(
    name: "catppuccin_latte",
    foreground: "#4C4F69",
    cursor: "#4C4F69",
    bright_foreground: "#BCC0CC",
    dim_foreground: "#121317",
    normal: (
        black: "#5C5F77",
        red: "#D20F39",
        green: "#40A02B",
        yellow: "#DF8E1D",
        blue: "#1E66F5",
        magenta: "#EA76CB",
        cyan: "#179299",
        white: "#ACB0BE",
    ),
    bright: (
        black: "#6C6F85",
        red: "#D20F39",
        green: "#40A02B",
        yellow: "#DF8E1D",
        blue: "#1E66F5",
        magenta: "#EA76CB",
        cyan: "#179299",
        white: "#BCC0CC",
    ),
    dim: (
        black: "#121317",
        red: "#2A030B",
        green: "#0C2008",
        yellow: "#2C1C05",
        blue: "#061431",
        magenta: "#2E1728",
        cyan: "#041D1E",
        white: "#222326",
    ),
)