(
    name: "catppuccin",
    foreground: "#D6D6D6",
    cursor: "#D6D6D6",
    bright_foreground: "#F7F7F7",
    dim_foreground: "#040506",
    normal: (
        black: "#181A1F",
        red: "#E86671",
        green: "#98C379",
        yellow: "#E5C07B",
        blue: "#61AFEF",
        magenta: "#C678DD",
        cyan: "#54AFBC",
        white: "#ABB2BF",
    ),
    bright: (
        black: "#5C6370",
        red: "#E86671",
        green: "#98C379",
        yellow: "#E5C07B",
        blue: "#61AFEF",
        magenta: "#C678DD",
        cyan: "#54AFBC",
        white: "#F7F7F7",
    ),
    dim: (
        black: "#040506",
        red: "#2E1416",
        green: "#1E2718",
        yellow: "#2D2618",
        blue: "#13232F",
        magenta: "#27182C",
        cyan: "#102325",
        white: "#222326",
    ),
)