(
    name: "catppuccin_frappe",
    foreground: "#C6D0F5",
    cursor: "#C6D0F5",
    bright_foreground: "#A5ADCE",
    dim_foreground: "#101115",
    normal: (
        black: "#51576D",
        red: "#E78284",
        green: "#A6D189",
        yellow: "#E5C890",
        blue: "#8CAAEE",
        magenta: "#F4B8E4",
        cyan: "#81C8BE",
        white: "#B5BFE2",
    ),
    bright: (
        black: "#626880",
        red: "#E78284",
        green: "#A6D189",
        yellow: "#E5C890",
        blue: "#8CAAEE",
        magenta: "#F4B8E4",
        cyan: "#81C8BE",
        white: "#A5ADCE",
    ),
    dim: (
        black: "#101115",
        red: "#2E1A1A",
        green: "#21291B",
        yellow: "#2D281C",
        blue: "#1C222F",
        magenta: "#30242D",
        cyan: "#192826",
        white: "#24262D",
    ),
)