(
    name: "catppuccin_mocha",
    foreground: "#CDD6F4",
    cursor: "#CDD6F4",
    bright_foreground: "#A6ADC8",
    dim_foreground: "#0D0E12",
    normal: (
        black: "#45475A",
        red: "#F38BA8",
        green: "#A6E3A1",
        yellow: "#F9E2AF",
        blue: "#89B4FA",
        magenta: "#F5C2E7",
        cyan: "#94E2D5",
        white: "#BAC2DE",
    ),
    bright: (
        black: "#585B70",
        red: "#F38BA8",
        green: "#A6E3A1",
        yellow: "#F9E2AF",
        blue: "#89B4FA",
        magenta: "#F5C2E7",
        cyan: "#94E2D5",
        white: "#A6ADC8",
    ),
    dim: (
        black: "#0D0E12",
        red: "#301B21",
        green: "#212D20",
        yellow: "#312D23",
        blue: "#1B2432",
        magenta: "#31262E",
        cyan: "#1D2D2A",
        white: "#25262C",
    ),
)