(
    name: "catppuccin_macchiato",
    foreground: "#CAD3F5",
    cursor: "#CAD3F5",
    bright_foreground: "#A5ADCB",
    dim_foreground: "#0E0F14",
    normal: (
        black: "#494D64",
        red: "#ED8796",
        green: "#A6DA95",
        yellow: "#EED49F",
        blue: "#8AADF4",
        magenta: "#F5BDE6",
        cyan: "#8BD5CA",
        white: "#B8C0E0",
    ),
    bright: (
        black: "#5B6078",
        red: "#ED8796",
        green: "#A6DA95",
        yellow: "#EED49F",
        blue: "#8AADF4",
        magenta: "#F5BDE6",
        cyan: "#8BD5CA",
        white: "#A5ADCB",
    ),
    dim: (
        black: "#0E0F14",
        red: "#2F1B1E",
        green: "#212B1D",
        yellow: "#2F2A1F",
        blue: "#1B2230",
        magenta: "#31252E",
        cyan: "#1B2A28",
        white: "#24262C",
    ),
)