(
    name: "Challenger Deep",
    foreground: "#cbe1e7",
    cursor: "#cbe1e7",
    bright_foreground: "#cbe3e7",
    dim_foreground: "#040308",
    normal: (
        black: "#141228",
        red: "#ff5458",
        green: "#62d196",
        yellow: "#ffb378",
        blue: "#65b2ff",
        magenta: "#906cff",
        cyan: "#63f2f1",
        white: "#a6b3cc",
    ),
    bright: (
        black: "#565575",
        red: "#ff8080",
        green: "#95ffa4",
        yellow: "#ffe9aa",
        blue: "#91ddff",
        magenta: "#c991e1",
        cyan: "#aaffe4",
        white: "#cbe3e7",
    ),
    dim: (
        black: "#040308",
        red: "#331011",
        green: "#13291E",
        yellow: "#332318",
        blue: "#142333",
        magenta: "#1C1533",
        cyan: "#133030",
        white: "#212328",
    ),
)