(
    name: "Konsole\'s Dark Pastels",
    foreground: "#DCDCCC",
    cursor: "#DCDCCC",
    bright_foreground: "#FFFFFF",
    dim_foreground: "#0C0C0C",
    normal: (
        black: "#3F3F3F",
        red: "#705050",
        green: "#60B48A",
        yellow: "#DFAF8F",
        blue: "#9AB8D7",
        magenta: "#DC8CC3",
        cyan: "#8CD0D3",
        white: "#DCDCCC",
    ),
    bright: (
        black: "#709080",
        red: "#DCA3A3",
        green: "#72D5A3",
        yellow: "#F0DFAF",
        blue: "#94BFF3",
        magenta: "#EC93D3",
        cyan: "#93E0E3",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#0C0C0C",
        red: "#161010",
        green: "#13241B",
        yellow: "#2C231C",
        blue: "#1E242B",
        magenta: "#2C1C27",
        cyan: "#1C292A",
        white: "#2C2C28",
    ),
)