(
    name: "dark_pride",
    foreground: "#ccccce",
    cursor: "#ccccce",
    bright_foreground: "#ebdbb2",
    dim_foreground: "#080808",
    normal: (
        black: "#282828",
        red: "#ca1444",
        green: "#789aba",
        yellow: "#b3879f",
        blue: "#95569b",
        magenta: "#cb6fa1",
        cyan: "#fb6e93",
        white: "#cf98c1",
    ),
    bright: (
        black: "#98218e",
        red: "#cb515d",
        green: "#5a87b1",
        yellow: "#9c61ab",
        blue: "#9a77b1",
        magenta: "#f2a297",
        cyan: "#f4436f",
        white: "#ebdbb2",
    ),
    dim: (
        black: "#080808",
        red: "#28040D",
        green: "#181E25",
        yellow: "#231B1F",
        blue: "#1D111F",
        magenta: "#281620",
        cyan: "#32161D",
        white: "#291E26",
    ),
)