(
    name: "dark_plus",
    foreground: "#CCCCCC",
    cursor: "#CCCCCC",
    bright_foreground: "#e5e5e5",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#d6181b",
        green: "#6A9955",
        yellow: "#e4d201",
        blue: "#569cd6",
        magenta: "#bc3fbc",
        cyan: "#4EC9B0",
        white: "#e5e5e5",
    ),
    bright: (
        black: "#666666",
        red: "#ce9178",
        green: "#b5cea8",
        yellow: "#DCDCAA",
        blue: "#9cdcfe",
        magenta: "#d670d6",
        cyan: "#9cdcfe",
        white: "#e5e5e5",
    ),
    dim: (
        black: "#000000",
        red: "#2A0405",
        green: "#151E11",
        yellow: "#2D2A00",
        blue: "#111F2A",
        magenta: "#250C25",
        cyan: "#0F2823",
        white: "#2D2D2D",
    ),
)