(
    name: "dawnfox",
    foreground: "#575279",
    cursor: "#575279",
    bright_foreground: "#e6ebf3",
    dim_foreground: "#111018",
    normal: (
        black: "#575279",
        red: "#b4637a",
        green: "#618774",
        yellow: "#ea9d34",
        blue: "#286983",
        magenta: "#907aa9",
        cyan: "#56949f",
        white: "#e5e9f0",
    ),
    bright: (
        black: "#5f5695",
        red: "#c26d85",
        green: "#629f81",
        yellow: "#eea846",
        blue: "#2d81a3",
        magenta: "#9a80b9",
        cyan: "#5ca7b4",
        white: "#e6ebf3",
    ),
    dim: (
        black: "#111018",
        red: "#241318",
        green: "#131B17",
        yellow: "#2E1F0A",
        blue: "#08151A",
        magenta: "#1C1821",
        cyan: "#111D1F",
        white: "#2D2E30",
    ),
)