(
    name: "dayfox",
    foreground: "#3d2b5a",
    cursor: "#3d2b5a",
    bright_foreground: "#f4ece6",
    dim_foreground: "#0A0807",
    normal: (
        black: "#352c24",
        red: "#a5222f",
        green: "#396847",
        yellow: "#ac5402",
        blue: "#2848a9",
        magenta: "#6e33ce",
        cyan: "#287980",
        white: "#f2e9e1",
    ),
    bright: (
        black: "#534c45",
        red: "#b3434e",
        green: "#577f63",
        yellow: "#b86e28",
        blue: "#4863b6",
        magenta: "#8452d5",
        cyan: "#488d93",
        white: "#f4ece6",
    ),
    dim: (
        black: "#0A0807",
        red: "#210609",
        green: "#0B140E",
        yellow: "#221000",
        blue: "#080E21",
        magenta: "#160A29",
        cyan: "#081819",
        white: "#302E2D",
    ),
)