(
    name: "deep_space",
    foreground: "#9aa7bd",
    cursor: "#9aa7bd",
    bright_foreground: "#9aa7bd",
    dim_foreground: "#050608",
    normal: (
        black: "#1b202a",
        red: "#b15e7c",
        green: "#709d6c",
        yellow: "#b5a262",
        blue: "#608cc3",
        magenta: "#8f72bf",
        cyan: "#56adb7",
        white: "#9aa7bd",
    ),
    bright: (
        black: "#232936",
        red: "#b3785d",
        green: "#709d6c",
        yellow: "#d5b875",
        blue: "#608cc3",
        magenta: "#c47ebd",
        cyan: "#51617d",
        white: "#9aa7bd",
    ),
    dim: (
        black: "#050608",
        red: "#231218",
        green: "#161F15",
        yellow: "#242013",
        blue: "#131C27",
        magenta: "#1C1626",
        cyan: "#112224",
        white: "#1E2125",
    ),
)