(
    name: "Dracula+",
    foreground: "#F8F8F2",
    cursor: "#F8F8F2",
    bright_foreground: "#F8F8F2",
    dim_foreground: "#060608",
    normal: (
        black: "#21222C",
        red: "#FF5555",
        green: "#50FA7B",
        yellow: "#FFCB6B",
        blue: "#82AAFF",
        magenta: "#C792EA",
        cyan: "#8BE9FD",
        white: "#F8F9F2",
    ),
    bright: (
        black: "#545454",
        red: "#FF6E6E",
        green: "#69FF94",
        yellow: "#FFCB6B",
        blue: "#D6ACFF",
        magenta: "#FF92DF",
        cyan: "#A4FFFF",
        white: "#F8F8F2",
    ),
    dim: (
        black: "#060608",
        red: "#331111",
        green: "#103218",
        yellow: "#332815",
        blue: "#1A2233",
        magenta: "#271D2E",
        cyan: "#1B2E32",
        white: "#313130",
    ),
)