(
    name: "enfocado_light",
    foreground: "#474747",
    cursor: "#474747",
    bright_foreground: "#ebebeb",
    dim_foreground: "#080808",
    normal: (
        black: "#282828",
        red: "#d6000c",
        green: "#1d9700",
        yellow: "#c49700",
        blue: "#0064e4",
        magenta: "#dd0f9d",
        cyan: "#00ad9c",
        white: "#cdcdcd",
    ),
    bright: (
        black: "#878787",
        red: "#df0000",
        green: "#008400",
        yellow: "#af8500",
        blue: "#0054cf",
        magenta: "#c7008b",
        cyan: "#009a8a",
        white: "#ebebeb",
    ),
    dim: (
        black: "#080808",
        red: "#2A0002",
        green: "#051E00",
        yellow: "#271E00",
        blue: "#00142D",
        magenta: "#2C031F",
        cyan: "#00221F",
        white: "#292929",
    ),
)