(
    name: "Everforest Dark",
    foreground: "#d3c6aa",
    cursor: "#d3c6aa",
    bright_foreground: "#d3c6aa",
    dim_foreground: "#0E1011",
    normal: (
        black: "#475258",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#dbbc7f",
        blue: "#7fbbb3",
        magenta: "#d699b6",
        cyan: "#83c092",
        white: "#d3c6aa",
    ),
    bright: (
        black: "#475258",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#dbbc7f",
        blue: "#7fbbb3",
        magenta: "#d699b6",
        cyan: "#83c092",
        white: "#d3c6aa",
    ),
    dim: (
        black: "#0E1011",
        red: "#2E1919",
        green: "#212619",
        yellow: "#2B2519",
        blue: "#192523",
        magenta: "#2A1E24",
        cyan: "#1A261D",
        white: "#2A2722",
    ),
)