(
    name: "flat_remix",
    foreground: "#FFFFFF",
    cursor: "#FFFFFF",
    bright_foreground: "#FFFFFF",
    dim_foreground: "#060608",
    normal: (
        black: "#1F2229",
        red: "#EC0101",
        green: "#47D4B9",
        yellow: "#FF8A18",
        blue: "#277FFF",
        magenta: "#D71655",
        cyan: "#05A1F7",
        white: "#FFFFFF",
    ),
    bright: (
        black: "#1F2229",
        red: "#D41919",
        green: "#5EBDAB",
        yellow: "#FEA44C",
        blue: "#367bf0",
        magenta: "#BF2E5D",
        cyan: "#49AEE6",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#060608",
        red: "#2F0000",
        green: "#0E2A25",
        yellow: "#331B04",
        blue: "#071933",
        magenta: "#2B0411",
        cyan: "#012031",
        white: "#333333",
    ),
)