(
    name: "flexoki",
    foreground: "#FFFCF0",
    cursor: "#FFFCF0",
    bright_foreground: "#FFFCF0",
    dim_foreground: "#030303",
    normal: (
        black: "#100F0F",
        red: "#AF3029",
        green: "#66800B",
        yellow: "#AD8301",
        blue: "#205EA6",
        magenta: "#A02F6F",
        cyan: "#24837B",
        white: "#FFFCF0",
    ),
    bright: (
        black: "#100F0F",
        red: "#D14D41",
        green: "#879A39",
        yellow: "#D0A215",
        blue: "#4385BE",
        magenta: "#CE5D97",
        cyan: "#3AA99F",
        white: "#FFFCF0",
    ),
    dim: (
        black: "#030303",
        red: "#230908",
        green: "#141902",
        yellow: "#221A00",
        blue: "#061221",
        magenta: "#200916",
        cyan: "#071A18",
        white: "#333230",
    ),
)