(
    name: "github_dark",
    foreground: "#d1d5da",
    cursor: "#d1d5da",
    bright_foreground: "#fafbfc",
    dim_foreground: "#111315",
    normal: (
        black: "#586069",
        red: "#ea4a5a",
        green: "#34d058",
        yellow: "#ffea7f",
        blue: "#2188ff",
        magenta: "#b392f0",
        cyan: "#39c5cf",
        white: "#d1d5da",
    ),
    bright: (
        black: "#959da5",
        red: "#f97583",
        green: "#85e89d",
        yellow: "#ffea7f",
        blue: "#79b8ff",
        magenta: "#b392f0",
        cyan: "#56d4dd",
        white: "#fafbfc",
    ),
    dim: (
        black: "#111315",
        red: "#2E0E12",
        green: "#0A2911",
        yellow: "#332E19",
        blue: "#061B33",
        magenta: "#231D30",
        cyan: "#0B2729",
        white: "#292A2B",
    ),
)