(
    name: "github_dark_high_contrast",
    foreground: "#f0f3f6",
    cursor: "#f0f3f6",
    bright_foreground: "#d9dee3",
    dim_foreground: "#181A1C",
    normal: (
        black: "#7a828e",
        red: "#ff9492",
        green: "#26cd4d",
        yellow: "#f0b72f",
        blue: "#71b7ff",
        magenta: "#cb9eff",
        cyan: "#39c5cf",
        white: "#d9dee3",
    ),
    bright: (
        black: "#9ea7b3",
        red: "#ffb1af",
        green: "#4ae168",
        yellow: "#f7c843",
        blue: "#91cbff",
        magenta: "#cb9eff",
        cyan: "#39c5cf",
        white: "#d9dee3",
    ),
    dim: (
        black: "#181A1C",
        red: "#331D1D",
        green: "#07290F",
        yellow: "#302409",
        blue: "#162433",
        magenta: "#281F33",
        cyan: "#0B2729",
        white: "#2B2C2D",
    ),
)