(
    name: "github_light_tritanopia",
    foreground: "#1b1f24",
    cursor: "#1b1f24",
    bright_foreground: "#6e7781",
    dim_foreground: "#070809",
    normal: (
        black: "#24292f",
        red: "#cf222e",
        green: "#0550ae",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#6e7781",
    ),
    bright: (
        black: "#57606a",
        red: "#a40e26",
        green: "#0969da",
        yellow: "#633c01",
        blue: "#218bff",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#6e7781",
    ),
    dim: (
        black: "#070809",
        red: "#290609",
        green: "#011022",
        yellow: "#0F0900",
        blue: "#01152B",
        magenta: "#1A102C",
        cyan: "#05181A",
        white: "#161719",
    ),
)