(
    name: "github_light",
    foreground: "#24292f",
    cursor: "#24292f",
    bright_foreground: "#d1d5da",
    dim_foreground: "#070809",
    normal: (
        black: "#24292e",
        red: "#d73a49",
        green: "#28a745",
        yellow: "#dbab09",
        blue: "#0366d6",
        magenta: "#5a32a3",
        cyan: "#0598bc",
        white: "#6a737d",
    ),
    bright: (
        black: "#959da5",
        red: "#cb2431",
        green: "#22863a",
        yellow: "#b08800",
        blue: "#005cc5",
        magenta: "#5a32a3",
        cyan: "#3192aa",
        white: "#d1d5da",
    ),
    dim: (
        black: "#070809",
        red: "#2B0B0E",
        green: "#08210D",
        yellow: "#2B2201",
        blue: "#00142A",
        magenta: "#120A20",
        cyan: "#011E25",
        white: "#151719",
    ),
)