(
    name: "github_light_colorblind",
    foreground: "#0E1116",
    cursor: "#0E1116",
    bright_foreground: "#8c959f",
    dim_foreground: "#070809",
    normal: (
        black: "#24292f",
        red: "#cf222e",
        green: "#116329",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#6e7781",
    ),
    bright: (
        black: "#57606a",
        red: "#a40e26",
        green: "#1a7f37",
        yellow: "#633c01",
        blue: "#218bff",
        magenta: "#a475f9",
        cyan: "#3192aa",
        white: "#8c959f",
    ),
    dim: (
        black: "#070809",
        red: "#290609",
        green: "#031308",
        yellow: "#0F0900",
        blue: "#01152B",
        magenta: "#1A102C",
        cyan: "#05181A",
        white: "#161719",
    ),
)