(
    name: "github_light_high_contrast",
    foreground: "#010409",
    cursor: "#010409",
    bright_foreground: "#66707b",
    dim_foreground: "#020304",
    normal: (
        black: "#0e1116",
        red: "#a0111f",
        green: "#024c1a",
        yellow: "#3f2200",
        blue: "#0349b4",
        magenta: "#622cbc",
        cyan: "#1b7c83",
        white: "#66707b",
    ),
    bright: (
        black: "#4b535d",
        red: "#86061d",
        green: "#055d20",
        yellow: "#4e2c00",
        blue: "#1168e3",
        magenta: "#622cbc",
        cyan: "#1b7c83",
        white: "#66707b",
    ),
    dim: (
        black: "#020304",
        red: "#200306",
        green: "#000F05",
        yellow: "#0C0600",
        blue: "#000E24",
        magenta: "#130825",
        cyan: "#05181A",
        white: "#141618",
    ),
)