(
    name: "gnome_terminal",
    foreground: "#ffffff",
    cursor: "#ffffff",
    bright_foreground: "#ffffff",
    dim_foreground: "#040406",
    normal: (
        black: "#171421",
        red: "#c01c28",
        green: "#26a269",
        yellow: "#a2734c",
        blue: "#12488b",
        magenta: "#a347ba",
        cyan: "#2aa1b3",
        white: "#d0cfcc",
    ),
    bright: (
        black: "#5e5c64",
        red: "#f66151",
        green: "#33d17a",
        yellow: "#e9ad0c",
        blue: "#2a7bde",
        magenta: "#c061cb",
        cyan: "#33c7de",
        white: "#ffffff",
    ),
    dim: (
        black: "#040406",
        red: "#260508",
        green: "#072015",
        yellow: "#20170F",
        blue: "#030E1B",
        magenta: "#200E25",
        cyan: "#082023",
        white: "#292928",
    ),
)