(
    name: "google",
    foreground: "#c5c8c6",
    cursor: "#c5c8c6",
    bright_foreground: "#ffffff",
    dim_foreground: "#050606",
    normal: (
        black: "#1d1f21",
        red: "#cc342b",
        green: "#198844",
        yellow: "#fba922",
        blue: "#3971ed",
        magenta: "#a36ac7",
        cyan: "#3971ed",
        white: "#c5c8c6",
    ),
    bright: (
        black: "#969896",
        red: "#cc342b",
        green: "#198844",
        yellow: "#fba922",
        blue: "#3971ed",
        magenta: "#a36ac7",
        cyan: "#3971ed",
        white: "#ffffff",
    ),
    dim: (
        black: "#050606",
        red: "#280A08",
        green: "#051B0D",
        yellow: "#322106",
        blue: "#0B162F",
        magenta: "#201527",
        cyan: "#0B162F",
        white: "#272827",
    ),
)