(
    name: "Gotham",
    foreground: "#98d1ce",
    cursor: "#98d1ce",
    bright_foreground: "#d3ebe9",
    dim_foreground: "#020304",
    normal: (
        black: "#0a0f14",
        red: "#c33027",
        green: "#26a98b",
        yellow: "#edb54b",
        blue: "#195465",
        magenta: "#4e5165",
        cyan: "#33859d",
        white: "#98d1ce",
    ),
    bright: (
        black: "#10151b",
        red: "#d26939",
        green: "#081f2d",
        yellow: "#245361",
        blue: "#093748",
        magenta: "#888ba5",
        cyan: "#599caa",
        white: "#d3ebe9",
    ),
    dim: (
        black: "#020304",
        red: "#270907",
        green: "#07211B",
        yellow: "#2F240F",
        blue: "#051014",
        magenta: "#0F1014",
        cyan: "#0A1A1F",
        white: "#1E2929",
    ),
)