(
    name: "gruber_darker",
    foreground: "#E4E4E4",
    cursor: "#E4E4E4",
    bright_foreground: "#F5F5F5",
    dim_foreground: "#040404",
    normal: (
        black: "#181818",
        red: "#F43841",
        green: "#73D936",
        yellow: "#FFDD33",
        blue: "#96A6C8",
        magenta: "#9E95C7",
        cyan: "#95A99F",
        white: "#E4E4E4",
    ),
    bright: (
        black: "#52494E",
        red: "#FF4F58",
        green: "#73D936",
        yellow: "#FFDD33",
        blue: "#96A6C8",
        magenta: "#AFAFD7",
        cyan: "#95A99F",
        white: "#F5F5F5",
    ),
    dim: (
        black: "#040404",
        red: "#300B0D",
        green: "#172B0A",
        yellow: "#332C0A",
        blue: "#1E2128",
        magenta: "#1F1D27",
        cyan: "#1D211F",
        white: "#2D2D2D",
    ),
)