(
    name: "Gruvbox Material Medium Dark",
    foreground: "#d4be98",
    cursor: "#d4be98",
    bright_foreground: "#d4be98",
    dim_foreground: "#0C0B0A",
    normal: (
        black: "#3c3836",
        red: "#ea6962",
        green: "#a9b665",
        yellow: "#d8a657",
        blue: "#7daea3",
        magenta: "#d3869b",
        cyan: "#89b482",
        white: "#d4be98",
    ),
    bright: (
        black: "#3c3836",
        red: "#ea6962",
        green: "#a9b665",
        yellow: "#d8a657",
        blue: "#7daea3",
        magenta: "#d3869b",
        cyan: "#89b482",
        white: "#d4be98",
    ),
    dim: (
        black: "#0C0B0A",
        red: "#2E1513",
        green: "#212414",
        yellow: "#2B2111",
        blue: "#192220",
        magenta: "#2A1A1F",
        cyan: "#1B241A",
        white: "#2A261E",
    ),
)