(
    name: "Gruvbox Material Medium Light",
    foreground: "#654735",
    cursor: "#654735",
    bright_foreground: "#eee0b7",
    dim_foreground: "#140E0A",
    normal: (
        black: "#654735",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#b47109",
        blue: "#45707a",
        magenta: "#945e80",
        cyan: "#4c7a5d",
        white: "#eee0b7",
    ),
    bright: (
        black: "#654735",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#b47109",
        blue: "#45707a",
        magenta: "#945e80",
        cyan: "#4c7a5d",
        white: "#eee0b7",
    ),
    dim: (
        black: "#140E0A",
        red: "#260E0E",
        green: "#151809",
        yellow: "#241601",
        blue: "#0D1618",
        magenta: "#1D1219",
        cyan: "#0F1812",
        white: "#2F2C24",
    ),
)