(
    name: "hardhacker",
    foreground: "#eee9fc",
    cursor: "#eee9fc",
    bright_foreground: "#eee9fc",
    dim_foreground: "#08070A",
    normal: (
        black: "#282433",
        red: "#e965a5",
        green: "#b1f2a7",
        yellow: "#ebde76",
        blue: "#b1baf4",
        magenta: "#e192ef",
        cyan: "#b3f4f3",
        white: "#eee9fc",
    ),
    bright: (
        black: "#3f3951",
        red: "#e965a5",
        green: "#b1f2a7",
        yellow: "#ebde76",
        blue: "#b1baf4",
        magenta: "#e192ef",
        cyan: "#b3f4f3",
        white: "#eee9fc",
    ),
    dim: (
        black: "#08070A",
        red: "#2E1421",
        green: "#233021",
        yellow: "#2F2C17",
        blue: "#232530",
        magenta: "#2D1D2F",
        cyan: "#233030",
        white: "#2F2E32",
    ),
)