(
    name: "hatsunemiku",
    foreground: "#dcd7d7",
    cursor: "#dcd7d7",
    bright_foreground: "#dcd7d7",
    dim_foreground: "#070808",
    normal: (
        black: "#242829",
        red: "#df2683",
        green: "#13868c",
        yellow: "#fcfcdf",
        blue: "#1a86b9",
        magenta: "#bc7fd2",
        cyan: "#7cc7d6",
        white: "#4a4b4b",
    ),
    bright: (
        black: "#7b8b99",
        red: "#df2683",
        green: "#13868c",
        yellow: "#fcfcdf",
        blue: "#1a86b9",
        magenta: "#bc7fd2",
        cyan: "#7cc7d6",
        white: "#dcd7d7",
    ),
    dim: (
        black: "#070808",
        red: "#2C071A",
        green: "#031A1C",
        yellow: "#32322C",
        blue: "#051A25",
        magenta: "#25192A",
        cyan: "#18272A",
        white: "#0E0F0F",
    ),
)