(
    name: "High Contrast",
    foreground: "#dddddd",
    cursor: "#dddddd",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#ff0000",
        green: "#00ff00",
        yellow: "#ffff00",
        blue: "#0000ff",
        magenta: "#ff00ff",
        cyan: "#00ffff",
        white: "#ffffff",
    ),
    bright: (
        black: "#000000",
        red: "#ff0000",
        green: "#00ff00",
        yellow: "#ffff00",
        blue: "#0000ff",
        magenta: "#ff00ff",
        cyan: "#00ffff",
        white: "#ffffff",
    ),
    dim: (
        black: "#000000",
        red: "#330000",
        green: "#003300",
        yellow: "#333300",
        blue: "#000033",
        magenta: "#330033",
        cyan: "#003333",
        white: "#333333",
    ),
)