(
    name: "Horizon Dark",
    foreground: "#e0e0e0",
    cursor: "#e0e0e0",
    bright_foreground: "#d5d8da",
    dim_foreground: "#040405",
    normal: (
        black: "#16161c",
        red: "#e95678",
        green: "#29d398",
        yellow: "#fab795",
        blue: "#26bbd9",
        magenta: "#ee64ac",
        cyan: "#59e1e3",
        white: "#d5d8da",
    ),
    bright: (
        black: "#5b5858",
        red: "#ec6a88",
        green: "#3fdaa4",
        yellow: "#fbc3a7",
        blue: "#3fc4de",
        magenta: "#f075b5",
        cyan: "#6be4e6",
        white: "#d5d8da",
    ),
    dim: (
        black: "#040405",
        red: "#2E1118",
        green: "#082A1E",
        yellow: "#32241D",
        blue: "#07252B",
        magenta: "#2F1422",
        cyan: "#112D2D",
        white: "#2A2B2B",
    ),
)