(
    name: "Hyper",
    foreground: "#ffffff",
    cursor: "#ffffff",
    bright_foreground: "#FFFFFF",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#fe0100",
        green: "#33ff00",
        yellow: "#feff00",
        blue: "#0066ff",
        magenta: "#cc00ff",
        cyan: "#00ffff",
        white: "#d0d0d0",
    ),
    bright: (
        black: "#808080",
        red: "#fe0100",
        green: "#33ff00",
        yellow: "#feff00",
        blue: "#0066ff",
        magenta: "#cc00ff",
        cyan: "#00ffff",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#320000",
        green: "#0A3300",
        yellow: "#323300",
        blue: "#001433",
        magenta: "#280033",
        cyan: "#003333",
        white: "#292929",
    ),
)