(
    name: "Iris",
    foreground: "#e8e6e9",
    cursor: "#e8e6e9",
    bright_foreground: "#e8e6e9",
    dim_foreground: "#03030A",
    normal: (
        black: "#111133",
        red: "#d61d52",
        green: "#48a842",
        yellow: "#e1a51c",
        blue: "#5556d3",
        magenta: "#8650d3",
        cyan: "#52afb7",
        white: "#9f9aa7",
    ),
    bright: (
        black: "#484867",
        red: "#e15877",
        green: "#71ab3a",
        yellow: "#c6a642",
        blue: "#6d6dc9",
        magenta: "#956ad3",
        cyan: "#6ab6bd",
        white: "#e8e6e9",
    ),
    dim: (
        black: "#03030A",
        red: "#2A0510",
        green: "#0E210D",
        yellow: "#2D2105",
        blue: "#11112A",
        magenta: "#1A102A",
        cyan: "#102324",
        white: "#1F1E21",
    ),
)