(
    name: "kimbie_light",
    foreground: "#6e5346",
    cursor: "#6e5346",
    bright_foreground: "#4a3631",
    dim_foreground: "#322F2A",
    normal: (
        black: "#fbebd4",
        red: "#d43552",
        green: "#b8bb26",
        yellow: "#f0c674",
        blue: "#7cafc2",
        magenta: "#d3869b",
        cyan: "#8abeb7",
        white: "#6e5346",
    ),
    bright: (
        black: "#f7e4c6",
        red: "#d43552",
        green: "#b8bb26",
        yellow: "#f0c674",
        blue: "#7cafc2",
        magenta: "#d3869b",
        cyan: "#8abeb7",
        white: "#4a3631",
    ),
    dim: (
        black: "#322F2A",
        red: "#2A0A10",
        green: "#242507",
        yellow: "#302717",
        blue: "#182326",
        magenta: "#2A1A1F",
        cyan: "#1B2624",
        white: "#16100E",
    ),
)