(
    name: "kimbie_dark",
    foreground: "#d3af86",
    cursor: "#d3af86",
    bright_foreground: "#f2cca8",
    dim_foreground: "#060503",
    normal: (
        black: "#221a0f",
        red: "#c87e5a",
        green: "#879a6b",
        yellow: "#e4b581",
        blue: "#5d90cd",
        magenta: "#c792ea",
        cyan: "#6bbab2",
        white: "#d3af86",
    ),
    bright: (
        black: "#7d6f48",
        red: "#c87e5a",
        green: "#879a6b",
        yellow: "#e4b581",
        blue: "#5d90cd",
        magenta: "#c792ea",
        cyan: "#6bbab2",
        white: "#f2cca8",
    ),
    dim: (
        black: "#060503",
        red: "#281912",
        green: "#1B1E15",
        yellow: "#2D2419",
        blue: "#121C29",
        magenta: "#271D2E",
        cyan: "#152523",
        white: "#2A231A",
    ),
)