(
    name: "konsole_linux",
    foreground: "#e3e3e3",
    cursor: "#e3e3e3",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#b21818",
        green: "#18b218",
        yellow: "#b26818",
        blue: "#1818b2",
        magenta: "#b218b2",
        cyan: "#18b2b2",
        white: "#b2b2b2",
    ),
    bright: (
        black: "#686868",
        red: "#ff5454",
        green: "#54ff54",
        yellow: "#ffff54",
        blue: "#5454ff",
        magenta: "#ff54ff",
        cyan: "#54ffff",
        white: "#ffffff",
    ),
    dim: (
        black: "#000000",
        red: "#230404",
        green: "#042304",
        yellow: "#231404",
        blue: "#040423",
        magenta: "#230423",
        cyan: "#042323",
        white: "#232323",
    ),
)