(
    name: "Dim",
    foreground: "#dddddd",
    cursor: "#dddddd",
    bright_foreground: "#bbbbbb",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#bb0000",
        green: "#00bb00",
        yellow: "#bbbb00",
        blue: "#0000bb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#bbbbbb",
    ),
    bright: (
        black: "#000000",
        red: "#bb0000",
        green: "#00bb00",
        yellow: "#bbbb00",
        blue: "#0000bb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#bbbbbb",
    ),
    dim: (
        black: "#000000",
        red: "#250000",
        green: "#002500",
        yellow: "#252500",
        blue: "#000025",
        magenta: "#250025",
        cyan: "#002525",
        white: "#252525",
    ),
)