(
    name: "Mariana",
    foreground: "#d8dee9",
    cursor: "#d8dee9",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#ec5f66",
        green: "#99c794",
        yellow: "#f9ae58",
        blue: "#6699cc",
        magenta: "#c695c6",
        cyan: "#5fb4b4",
        white: "#f7f7f7",
    ),
    bright: (
        black: "#333333",
        red: "#f97b58",
        green: "#acd1a8",
        yellow: "#fac761",
        blue: "#85add6",
        magenta: "#d8b6d8",
        cyan: "#82c4c4",
        white: "#ffffff",
    ),
    dim: (
        black: "#000000",
        red: "#2F1314",
        green: "#1E271D",
        yellow: "#312211",
        blue: "#141E28",
        magenta: "#271D27",
        cyan: "#132424",
        white: "#313131",
    ),
)