(
    name: "marine_dark",
    foreground: "#e6f8f8",
    cursor: "#e6f8f8",
    bright_foreground: "#e6f6f6",
    dim_foreground: "#000606",
    normal: (
        black: "#002221",
        red: "#ea3431",
        green: "#00b6b6",
        yellow: "#f8b017",
        blue: "#4894fd",
        magenta: "#e01dca",
        cyan: "#1ab2ad",
        white: "#99dddb",
    ),
    bright: (
        black: "#006562",
        red: "#ea3431",
        green: "#00b6b6",
        yellow: "#f8b017",
        blue: "#4894fd",
        magenta: "#e01dca",
        cyan: "#1ab2ad",
        white: "#e6f6f6",
    ),
    dim: (
        black: "#000606",
        red: "#2E0A09",
        green: "#002424",
        yellow: "#312304",
        blue: "#0E1D32",
        magenta: "#2C0528",
        cyan: "#052322",
        white: "#1E2C2B",
    ),
)