(
    name: "Material Theme",
    foreground: "#c4c7d1",
    cursor: "#c4c7d1",
    bright_foreground: "#ffffff",
    dim_foreground: "#141414",
    normal: (
        black: "#666666",
        red: "#eb606b",
        green: "#c3e88d",
        yellow: "#f7eb95",
        blue: "#80cbc4",
        magenta: "#ff2f90",
        cyan: "#aeddff",
        white: "#ffffff",
    ),
    bright: (
        black: "#a1a1a1",
        red: "#eb606b",
        green: "#c3e88d",
        yellow: "#f7eb95",
        blue: "#7dc6bf",
        magenta: "#6c71c4",
        cyan: "#35434d",
        white: "#ffffff",
    ),
    dim: (
        black: "#141414",
        red: "#2F1315",
        green: "#272E1C",
        yellow: "#312F1D",
        blue: "#192827",
        magenta: "#33091C",
        cyan: "#222C33",
        white: "#333333",
    ),
)