(
    name: "meliora",
    foreground: "#d6d0cd",
    cursor: "#d6d0cd",
    bright_foreground: "#e1dbd9",
    dim_foreground: "#080706",
    normal: (
        black: "#2a2421",
        red: "#d49191",
        green: "#b6b696",
        yellow: "#c4b392",
        blue: "#9e96b6",
        magenta: "#b696b1",
        cyan: "#98acc8",
        white: "#ddd9d6",
    ),
    bright: (
        black: "#2e2622",
        red: "#d89393",
        green: "#b9b99b",
        yellow: "#c8b692",
        blue: "#a299b9",
        magenta: "#b997b4",
        cyan: "#9bb0ca",
        white: "#e1dbd9",
    ),
    dim: (
        black: "#080706",
        red: "#2A1D1D",
        green: "#24241E",
        yellow: "#27231D",
        blue: "#1F1E24",
        magenta: "#241E23",
        cyan: "#1E2228",
        white: "#2C2B2A",
    ),
)