(
    name: "monokai",
    foreground: "#f8f8f2",
    cursor: "#f8f8f2",
    bright_foreground: "#f9f8f5",
    dim_foreground: "#070806",
    normal: (
        black: "#272822",
        red: "#f92672",
        green: "#a6e22e",
        yellow: "#f4bf75",
        blue: "#66d9ef",
        magenta: "#ae81ff",
        cyan: "#a1efe4",
        white: "#f8f8f2",
    ),
    bright: (
        black: "#75715e",
        red: "#f92672",
        green: "#a6e22e",
        yellow: "#f4bf75",
        blue: "#66d9ef",
        magenta: "#ae81ff",
        cyan: "#a1efe4",
        white: "#f9f8f5",
    ),
    dim: (
        black: "#070806",
        red: "#310716",
        green: "#212D09",
        yellow: "#302617",
        blue: "#142B2F",
        magenta: "#221933",
        cyan: "#202F2D",
        white: "#313130",
    ),
)