(
    name: "monokai_charcoal",
    foreground: "#FFFFFF",
    cursor: "#FFFFFF",
    bright_foreground: "#f6f6ef",
    dim_foreground: "#050505",
    normal: (
        black: "#1a1a1a",
        red: "#f4005f",
        green: "#98e024",
        yellow: "#fa8419",
        blue: "#9d65ff",
        magenta: "#f4005f",
        cyan: "#58d1eb",
        white: "#c4c5b5",
    ),
    bright: (
        black: "#625e4c",
        red: "#f4005f",
        green: "#98e024",
        yellow: "#e0d561",
        blue: "#9d65ff",
        magenta: "#f4005f",
        cyan: "#58d1eb",
        white: "#f6f6ef",
    ),
    dim: (
        black: "#050505",
        red: "#300013",
        green: "#1E2C07",
        yellow: "#321A05",
        blue: "#1F1433",
        magenta: "#300013",
        cyan: "#11292F",
        white: "#272724",
    ),
)