(
    name: "monokai_pro",
    foreground: "#fff1f3",
    cursor: "#fff1f3",
    bright_foreground: "#fff1f3",
    dim_foreground: "#080707",
    normal: (
        black: "#2c2525",
        red: "#fd6883",
        green: "#adda78",
        yellow: "#f9cc6c",
        blue: "#f38d70",
        magenta: "#a8a9eb",
        cyan: "#85dacc",
        white: "#fff1f3",
    ),
    bright: (
        black: "#72696a",
        red: "#fd6883",
        green: "#adda78",
        yellow: "#f9cc6c",
        blue: "#f38d70",
        magenta: "#a8a9eb",
        cyan: "#85dacc",
        white: "#fff1f3",
    ),
    dim: (
        black: "#080707",
        red: "#32141A",
        green: "#222B18",
        yellow: "#312815",
        blue: "#301C16",
        magenta: "#21212F",
        cyan: "#1A2B28",
        white: "#333030",
    ),
)