(
    name: "moonlight_ii_vscode",
    foreground: "#7f85a3",
    cursor: "#7f85a3",
    bright_foreground: "#5f8787",
    dim_foreground: "#0D0E17",
    normal: (
        black: "#444a73",
        red: "#ff5370",
        green: "#4fd6be",
        yellow: "#ffc777",
        blue: "#3e68d7",
        magenta: "#fc7b7b",
        cyan: "#86e1fc",
        white: "#d0d0d0",
    ),
    bright: (
        black: "#828bb8",
        red: "#ff98a4",
        green: "#c3e88d",
        yellow: "#ffc777",
        blue: "#82aaff",
        magenta: "#ff966c",
        cyan: "#b4f9f8",
        white: "#5f8787",
    ),
    dim: (
        black: "#0D0E17",
        red: "#331016",
        green: "#0F2A26",
        yellow: "#332717",
        blue: "#0C142B",
        magenta: "#321818",
        cyan: "#1A2D32",
        white: "#292929",
    ),
)