(
    name: "MSX-like",
    foreground: "#FFFFFF",
    cursor: "#FFFFFF",
    bright_foreground: "#FFFFFF",
    dim_foreground: "#11112C",
    normal: (
        black: "#5955E0",
        red: "#B95E51",
        green: "#3AA241",
        yellow: "#CCC35E",
        blue: "#000000",
        magenta: "#DB6559",
        cyan: "#3EB849",
        white: "#CCCCCC",
    ),
    bright: (
        black: "#8076F1",
        red: "#FF897D",
        green: "#74D07D",
        yellow: "#DED087",
        blue: "#CCCCCC",
        magenta: "#B766B5",
        cyan: "#65DBEF",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#11112C",
        red: "#251210",
        green: "#0B200D",
        yellow: "#282712",
        blue: "#000000",
        magenta: "#2B1411",
        cyan: "#0C240E",
        white: "#282828",
    ),
)