(
    name: "nightfly",
    foreground: "#bdc1c6",
    cursor: "#bdc1c6",
    bright_foreground: "#d6deeb",
    dim_foreground: "#050B10",
    normal: (
        black: "#1d3b53",
        red: "#fc514e",
        green: "#a1cd5e",
        yellow: "#e3d18a",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#7fdbca",
        white: "#a1aab8",
    ),
    bright: (
        black: "#7c8f8f",
        red: "#ff5874",
        green: "#21c7a8",
        yellow: "#ecc48d",
        blue: "#82aaff",
        magenta: "#ae81ff",
        cyan: "#7fdbca",
        white: "#d6deeb",
    ),
    dim: (
        black: "#050B10",
        red: "#32100F",
        green: "#202912",
        yellow: "#2D291B",
        blue: "#1A2233",
        magenta: "#271D2E",
        cyan: "#192B28",
        white: "#202224",
    ),
)