(
    name: "night_owl",
    foreground: "#d6deeb",
    cursor: "#d6deeb",
    bright_foreground: "#ffffff",
    dim_foreground: "#000407",
    normal: (
        black: "#011627",
        red: "#EF5350",
        green: "#22da6e",
        yellow: "#c5e478",
        blue: "#82AAFF",
        magenta: "#C792EA",
        cyan: "#21c7a8",
        white: "#ffffff",
    ),
    bright: (
        black: "#575656",
        red: "#EF5350",
        green: "#22da6e",
        yellow: "#ffeb95",
        blue: "#82AAFF",
        magenta: "#C792EA",
        cyan: "#7fdbca",
        white: "#ffffff",
    ),
    dim: (
        black: "#000407",
        red: "#2F1010",
        green: "#062B16",
        yellow: "#272D18",
        blue: "#1A2233",
        magenta: "#271D2E",
        cyan: "#062721",
        white: "#333333",
    ),
)