(
    name: "Nord light",
    foreground: "#81A1C1",
    cursor: "#81A1C1",
    bright_foreground: "#D8DEE9",
    dim_foreground: "#2B2C2E",
    normal: (
        black: "#D8DEE9",
        red: "#bf616a",
        green: "#a3be8c",
        yellow: "#D08770",
        blue: "#81A1C1",
        magenta: "#B48EAD",
        cyan: "#88C0D0",
        white: "#4C566A",
    ),
    bright: (
        black: "#D8DEE9",
        red: "#bf616a",
        green: "#a3be8c",
        yellow: "#D08770",
        blue: "#D8DEE9",
        magenta: "#B48EAD",
        cyan: "#8FBCBB",
        white: "#D8DEE9",
    ),
    dim: (
        black: "#2B2C2E",
        red: "#261315",
        green: "#20261C",
        yellow: "#291B16",
        blue: "#192026",
        magenta: "#241C22",
        cyan: "#1B2629",
        white: "#0F1115",
    ),
)