(
    name: "Nord",
    foreground: "#D8DEE9",
    cursor: "#D8DEE9",
    bright_foreground: "#ECEFF4",
    dim_foreground: "#0B0D10",
    normal: (
        black: "#3B4252",
        red: "#BF616A",
        green: "#A3BE8C",
        yellow: "#EBCB8B",
        blue: "#81A1C1",
        magenta: "#B48EAD",
        cyan: "#88C0D0",
        white: "#E5E9F0",
    ),
    bright: (
        black: "#4C566A",
        red: "#BF616A",
        green: "#A3BE8C",
        yellow: "#EBCB8B",
        blue: "#81A1C1",
        magenta: "#B48EAD",
        cyan: "#8FBCBB",
        white: "#ECEFF4",
    ),
    dim: (
        black: "#0B0D10",
        red: "#261315",
        green: "#20261C",
        yellow: "#2F281B",
        blue: "#192026",
        magenta: "#241C22",
        cyan: "#1B2629",
        white: "#2D2E30",
    ),
)